@{
  ViewData["Title"] = "Cadastro de Alunos";
}

<div class="text-center">
  <h1 class="display-4">Cadastro de Alunos</h1>
  <a class="nav-link text-dark" asp-area="" asp-controller="Alunos" asp-action="">Lista de Alunos</a>
</div>
